$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-macherie: "Macherie";
$font-family-montserrat-light: 'Montserrat-Light', sans-serif;
$font-family-montserrat-bold: 'Montserrat-Bold', sans-serif;
$font-family-montserrat-extrabold: 'Montserrat-ExtraBold', sans-serif;
$font-family-montserrat-semibold: 'Montserrat-SemiBold', sans-serif;
$beige: #A48C80;
$beige-title: #D0B8AC;
$beige-text: #F2C8BE;
$black: #363636;
$gray: #6C6C6C;