@font-face {
  font-family: "Macherie";
  src: url("../fonts/Macherie/macherie.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
.home_page {
  background: url(../images/mainpage_image.png);
  background-size: cover;
  min-height: 100vh;
  padding: 10vh 4vw 0 4vw;
}
.home_page .header {
  display: flex;
  flex-direction: column;
}
.home_page .header .header_container {
  flex-grow: 1;
}
.home_page .header .header_container .header_navbar {
  display: flex;
  background-color: transparent;
}
.home_page .header .header_container .header_navbar .header_logo {
  font-family: "Macherie";
  color: #A48C80;
  font-size: 2rem;
}
.home_page .header .header_container .header_navbar .header_menu {
  order: 1;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-size: 1.2rem;
}
.home_page .header .header_container .header_navbar .header_menu .header_nav {
  display: flex;
}
.home_page .home_page__content {
  margin-top: 20vh;
}
.home_page .home_page__content .home_page__title {
  font-family: "Macherie";
  color: #A48C80;
  font-size: 6.5rem;
  width: 60vw;
}
.home_page .home_page__content .home_page__text {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-size: 1.5rem;
  width: 20vw;
  margin-top: 18vh;
  margin-bottom: 0;
  padding-bottom: 85vh;
}

.about_me__page {
  background-color: #000000;
}
.about_me__page .block2_container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 10vh;
}
.about_me__page .block2_container .title-block-2 {
  font-family: "Macherie";
  color: #D0B8AC;
  font-size: 4.5rem;
  padding: 5vh 10vw 7vh 0;
}
.about_me__page .block2_container .block-2__image-block {
  height: 98vh;
}
.about_me__page .block2_container .block-2__text-block {
  align-items: center;
}
.about_me__page .block2_container .block-2__text-block .list-group__block2 {
  border: solid 1px #F2C8BE;
  color: #F2C8BE;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  margin-right: 7vw;
  padding: 3vh 3vw;
}
.about_me__page .block2_container .block-2__text-block .list-group__block2 .list-item {
  padding: 1.5vh 0;
}

.portfolio_page {
  background-color: #000000;
}
.portfolio_page .title-block-3 {
  font-family: "Macherie";
  color: #D0B8AC;
  font-size: 4.5rem;
  padding: 8vh 0 5vh 9vw;
}
.portfolio_page .portfolio_container {
  position: relative;
  padding-bottom: 10vh;
}
.portfolio_page .portfolio_container .portfolio_main {
  padding-bottom: 40vh;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first {
  position: relative;
  z-index: 1;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section .portfolio_part1 {
  margin-right: 6vw;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section .portfolio_text {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 2rem;
  color: #F2C8BE;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section .portfolio_text_element1 {
  display: flex;
  justify-content: start;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section .portfolio_text_element2 {
  display: flex;
  justify-content: center;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_first .portfolio_first_section .portfolio_text_element3 {
  display: flex;
  justify-content: flex-end;
}
.portfolio_page .portfolio_container .portfolio_main .portfolio_fixed_photo {
  position: absolute;
  bottom: 15%;
  left: 55%;
  transform: translateX(-50%);
  z-index: 2;
  margin-bottom: 20vh;
}
.portfolio_page .portfolio_container .portfolio_button {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.portfolio_page .portfolio_container .portfolio_button .portfolio_button_content {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #F2C8BE;
  background-color: transparent;
  color: #D0B8AC;
  width: 22vw;
  font-size: 1.6rem;
  padding: 1vh 3vw;
}

.price_page {
  background-color: #000000;
}
.price_page .block-4__card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #D0B8AC;
}
.price_page .block-4__card-body .title-block-4 {
  font-family: "Macherie";
  color: #D0B8AC;
  font-size: 4.5rem;
}
.price_page .block-4__card-body .price_border {
  border: solid 1px #F2C8BE;
  margin: 5vh 5vw 5vh 0;
  padding: 3vh 2vw;
}
.price_page .block-4__card-body .price_border .price_list_text {
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 1.6rem;
}
.price_page .block-4__card-body .price_border .list-group__block4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.price_page .block-4__card-body .price_text {
  font-family: "Montserrat-SemiBold", sans-serif;
  text-decoration: underline;
  font-size: 2rem;
}

.reviews_page {
  background-color: #000000;
  padding-top: 22vh;
}
.reviews_page .title-block-5 {
  font-family: "Macherie";
  color: #D0B8AC;
  font-size: 4.5rem;
  margin: 0 0 8vh 7vw;
}
.reviews_page .reviews_img_block {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */