@import "./fonts";
@import "./vars";

// html,
// body {
//     overflow-x: hidden;
// }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 500;
    display: flex;
    flex-direction: column;

    .header_container {
        flex-grow: 1;

        .header_navbar {
            display: flex;
            background-color: transparent;

            .header_logo {
                font-family: $font-family-macherie;
                color: $beige;
                font-size: 2em;
                margin-left: 3.5vw;

                @media (max-width: 767.98px) {
                    font-size: 1.5em;
                }
            }

            .navbar-toggler {
                border-color: $gray;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%236C6C6C' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }

            .header_menu {
                order: 1;
                font-family: $font-family-montserrat;
                color: $black;
                font-size: 1.2em;
                justify-content: space-evenly;

                .header_nav {
                    display: flex;
                    margin: 0 !important;

                    .nav-link:hover {
                        font-family: $font-family-montserrat-bold;
                    }

                    .nav-link.active {
                        font-family: $font-family-montserrat-bold;
                    }
                }
            }

            .navbar-collapse {
                text-align: center;

                .navbar-nav {
                    text-align: center;
                }
            }

            .icon_social {
                width: 2.5vw;

                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 4.5vw;
                }

                @media (max-width: 767.98px) {
                    width: 7.8vw;
                }
            }

            .nav_fixed {
                order: 1;
                font-family: $font-family-montserrat;
                font-size: 1.2em;

                .header_nav {
                    display: flex;

                    .nav-link {
                        color: $beige-title;
                    }

                    .nav-link:hover {
                        font-family: $font-family-montserrat-bold;
                    }

                    .nav-link.active {
                        font-family: $font-family-montserrat-bold;
                    }
                }
            }
        }
    }
}

.header_fixed {
    background-color: #000000;
    box-shadow: 0 0 15px $beige-text;
}

.toggler_fixed {
    color: $beige !important;
    border-color: $beige !important;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23A48C80' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}

.home_page {
    background: url(../images/mainpage_image.png);
    background-size: cover;
    min-height: 100vh;
    padding: 10vh 4vw 0 4vw;

    @media (min-width: 768px) and (max-width: 991.98px) {
        background: url(../images/tab-main-img.png);
        background-size: cover;
    }

    @media (max-width: 767.98px) {
        background: url(../images/mobile-main-img.png);
        background-size: cover;
    }

    .home_page__content {
        margin-top: 20vh;

        @media (min-width: 768px) and (max-width: 991.98px) {
            margin-top: 22vh;
        }

        @media (max-width: 767.98px) {
            margin-top: 28vh;
        }

        .home_page__title {
            font-family: $font-family-macherie;
            color: $beige;
            font-size: 6.5em;
            width: 60vw;

            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 5em;
            }

            @media (max-width: 767.98px) {
                font-size: 3.1em;
            }
        }

        .home_page__text {
            font-family: $font-family-montserrat;
            color: $black;
            font-size: 1.5em;
            width: 20vw;
            margin-top: 18vh;
            margin-bottom: 0;
            padding-bottom: 85vh;

            @media (min-width: 992px) and (max-width: 1199.98px) {
                width: 31vw;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                margin-top: 10vh;
                width: 30vw;
            }

            @media (max-width: 767.98px) {
                font-size: 1.3em;
                margin-top: 15vh;
                width: 80vw;
            }
        }
    }
}

.about_me__page {
    background-color: #000000;

    .block2_container {
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (min-width: 768px) and (max-width: 991.98px) {
            padding-top: 0;
            align-items: center;
            padding: 0;
        }

        @media (max-width: 767.98px) {
            align-items: center;
        }

        .title-block-2 {
            font-family: $font-family-macherie;
            color: $beige-title;
            font-size: 4.5em;
            padding: 5vh 10vw 7vh 0;

            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 6em;
                padding: 0 0 3vh 0;
            }

            @media (max-width: 767.98px) {
                font-size: 3.5em;
                padding: 0 0 3vh 0;
            }
        }

        .block-2__image-block {
            height: 98vh;

            @media (min-width: 992px) and (max-width: 1199.98px) {
                min-width: 30vw;
                height: auto;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                height: 40vh;
            }

            @media (max-width: 767.98px) {
                height: 45vh;
            }
        }

        .block-2__text-block {
            align-items: center;

            .list-group__block2 {
                border: solid 1px $beige-title;
                color: $beige-title;
                font-family: $font-family-montserrat;
                font-size: 1.3em;
                margin-right: 7vw;
                padding: 3vh 3vw;

                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 1.2em;
                    margin-right: 3vw;
                    padding: 2vh 3vw;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    margin: 4vh 12vw;
                    padding: 1vh 3vw 1vh 5vw;
                }

                @media (max-width: 767.98px) {
                    font-size: 1em;
                    margin: 4vh 7vw;
                    padding: 1vh 3vw 1vh 7vw;
                }
            }

            .list-item {
                padding: 1.5vh 0;

                @media (min-width: 768px) and (max-width: 991.98px) {
                    padding: 0.5vh 0;
                }

                @media (max-width: 767.98px) {
                    padding: 0.6vh 0;
                }
            }
        }
    }
}

.portfolio_page {
    background-color: #000000;

    .title-block-3 {
        font-family: $font-family-macherie;
        color: $beige-title;
        font-size: 4.5em;
        padding: 8vh 0 5vh 9vw;

        @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 6em;
        }

        @media (max-width: 767.98px) {
            font-size: 3em;
            text-align: center;
            padding: 0 0 5vh 0;
        }
    }

    .portfolio_container {
        position: relative;
        padding-bottom: 10vh;

        .portfolio_main {
            padding-bottom: 40vh;

            @media (min-width: 992px) and (max-width: 1099.98px) {
                padding-bottom: 30vh;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                padding-bottom: 10vh;
            }

            @media (max-width: 767.98px) {
                padding-bottom: 3vh;
            }

            .portfolio_first {
                position: relative;
                z-index: 1;

                .portfolio_first_section {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    .portfolio_part1 {
                        margin-right: 6vw;

                        .portfolio_img1 {
                            @media (min-width: 992px) and (max-width: 1099.98px) {
                                width: 40vw;
                            }

                            @media (min-width: 768px) and (max-width: 991.98px) {
                                width: 47vw;
                            }

                            @media (max-width: 767.98px) {
                                width: 47vw;
                            }
                        }
                    }

                    .portfolio_img2 {
                        @media (min-width: 992px) and (max-width: 1099.98px) {
                            width: 27vw;
                        }

                        @media (min-width: 768px) and (max-width: 991.98px) {
                            width: 32vw;
                        }

                        @media (max-width: 767.98px) {
                            width: 32vw;
                        }
                    }

                    .portfolio_text {
                        font-family: $font-family-montserrat-light;
                        font-size: 2em;
                        color: $beige-text;
                        opacity: 0.8;
                        display: flex;
                        flex-direction: column;

                        @media (max-width: 767.98px) {
                            font-size: 1.2em;
                        }
                    }

                    .portfolio_text_element1 {
                        display: flex;
                        justify-content: start;
                    }

                    .portfolio_text_element2 {
                        display: flex;
                        justify-content: center;
                    }

                    .portfolio_text_element3 {
                        display: flex;
                        justify-content: flex-end;
                    }

                    .portfolio_text_content {
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            margin-bottom: 0.5vh;
                        }

                        @media (max-width: 767.98px) {
                            margin-bottom: 0.3vh;
                        }
                    }
                }
            }

            .portfolio_fixed_photo {
                position: absolute;
                bottom: 25%;
                left: 55%;
                transform: translateX(-50%);
                z-index: 2;
                margin-bottom: 0;

                @media (min-width: 992px) and (max-width: 1099.98px) {
                    bottom: 30%;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    bottom: 0;
                    top: 40%;
                }

                @media (max-width: 767.98px) {
                    position: relative;
                    text-align: center;
                    bottom: 0;
                    left: 0;
                    transform: translateX(0%);
                    z-index: 0;
                    margin-top: 3vh;
                }

                .portfolio_img3 {
                    @media (min-width: 992px) and (max-width: 1099.98px) {
                        width: 16vw;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 20vw;
                    }

                    @media (max-width: 767.98px) {
                        width: 30vw;
                    }
                }
            }
        }

        .portfolio_button {
            display: flex;
            justify-content: center;
            margin-bottom: 10vh;

            @media (min-width: 768px) and (max-width: 991.98px) {
                margin: 5vh
            }

            @media (max-width: 767.98px) {
                margin-bottom: 0;
            }

            .portfolio_button_content {
                font-family: $font-family-montserrat;
                border: 1px solid $beige-text;
                background-color: transparent;
                color: $beige-title;
                width: 22vw;
                font-size: 1.6em;
                padding: 1vh 3vw;

                @media (min-width: 992px) and (max-width: 1250px) {
                    width: 28vw;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 35vw;
                }

                @media (max-width: 767.98px) {
                    width: 60vw;
                    font-size: 1.3em;
                }
            }

            .portfolio_button_content:hover {
                color: #000000;
                background-color: $beige-text;
                transition: all 0.7s;
            }
        }
    }
}

.price_page {
    background-color: #000000;

    @media (min-width: 992px) and (max-width: 1050px) {
        padding: 3vh 2vw;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 3vh 2vw;
    }

    @media (max-width: 767.98px) {
        padding: 3vh 0;
    }

    .block-4__image-block {
        @media (min-width: 992px) and (max-width: 1050px) {
            min-width: 30vw;
            height: auto;
        }

        @media (max-width: 767.98px) {
            padding: 0 17vw;
        }
    }

    .block-4__card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $beige-title;

        .title-block-4 {
            font-family: $font-family-macherie;
            color: $beige-title;
            font-size: 4.5em;

            @media (min-width: 768px) and (max-width: 991.98px) {
                margin-top: 3vh;
                font-size: 6em;
            }

            @media (max-width: 767.98px) {
                font-size: 3.5em;
                margin-top: 3vh;
            }
        }

        .price_border {
            border: solid 1px #F2C8BE;
            margin: 5vh 5vw 5vh 0;
            padding: 3vh 2vw;

            @media (min-width: 992px) and (max-width: 1050px) {
                margin: 3vh 3vw;
                padding: 3vh 1vw 1vh 3vw;
                width: 45vw;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                margin: 3vh 3vw;
                padding: 3vh 1vw 0 3vw;
                width: 93vw;
            }

            @media (max-width: 767.98px) {
                margin: 3vh 3vw;
                padding: 3vh 2.5vw 0 3vw;
                width: 93vw;
            }

            .price_list_text {
                font-family: $font-family-montserrat-extrabold;
                font-size: 1.6em;

                @media (max-width: 767.98px) {
                    font-size: 1.4em;
                }
            }

            .list-group__block4 {
                font-family: $font-family-montserrat;
                font-size: 1.3em;

                @media (min-width: 992px) and (max-width: 1050px) {
                    font-size: 1.1em;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    font-size: 1.5em;
                }

                @media (max-width: 767.98px) {
                    font-size: 1em;
                }
            }

            .list-item {
                @media (min-width: 992px) and (max-width: 1050px) {
                    padding-bottom: 1vh;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    padding-bottom: 1vh;
                }

                @media (max-width: 767.98px) {
                    padding-bottom: 1vh;
                }
            }
        }

    }

    .price_text {
        font-family: $font-family-montserrat-semibold;
        text-decoration: underline;
        font-size: 2em;

        @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 3em;
        }

        @media (max-width: 767.98px) {
            font-size: 1.8em;
        }
    }
}

.reviews_page {
    background-color: #000000;
    padding-top: 22vh;

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 15vh;
    }

    @media (max-width: 767.98px) {
        padding-top: 15vh;
    }

    .title-block-5 {
        font-family: $font-family-macherie;
        color: $beige-title;
        font-size: 4.5em;
        margin: 0 0 8vh 7vw;

        @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 6em;
        }

        @media (max-width: 767.98px) {
            font-size: 3.5em;
            text-align: center;
            margin: 0 0 5vh 0;
        }
    }

    .reviews_img_block {
        display: flex;
        justify-content: center;
        gap: 3vw;
    }

    .review_img {
        max-height: 70vh;
    }

    .review_img2 {
        max-height: 80vh;
    }

    @media (max-width: 575.98px) {
        .carousel-item {
            .review_img {
                width: 75vw;
            }
        }
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a48c80'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a48c80'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
        ;
    }
}

.appointment_page {
    background-color: #000000;
    padding: 18vh 0 25vh 5.5vw;

    .title-block-6 {
        font-family: $font-family-macherie;
        color: $beige-title;
        font-size: 4.5em;
        padding-bottom: 4vh;
    }

    .appointment_container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .appointment_block {
            display: flex;
            flex-direction: column;
            gap: 8vh;

            .appointment_icons {
                display: flex;
                gap: 3vw;

                .icon_button {
                    padding: 0;
                    margin: 0;

                    .icon_social {
                        width: 4vw;
                    }
                }
            }

            .appointment_text {
                font-family: $font-family-montserrat;
                color: $beige-title;
                font-size: 1.2em;
                width: 37vw;
            }

            .form_container {
                background-color: rgba(54, 54, 54, 0.23);
                border: 1.5px solid #D0B8AC;
                width: 47vw;
                padding: 10vh 3vw 4vh 3vw;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-family: $font-family-montserrat;
                font-size: 1em;

                .input_container {
                    display: flex;
                    flex-direction: column;
                    gap: 15vh;

                    .input_first {
                        display: flex;
                        justify-content: space-between;
                    }

                    .input_first,
                    .input_second {
                        width: 40vw;
                    }

                    .input_form1 {
                        width: 15vw;
                    }

                    .input_fields {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid $gray;
                        border-radius: 0;
                        color: $beige-title;
                    }

                    input::placeholder {
                        color: $gray;
                    }

                    input:focus {
                        color: $beige-title;
                        background-color: transparent;
                        border-color: $beige-title;
                        box-shadow: none;
                    }
                }

                .button_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 7vh;

                    .input_form {
                        display: flex;
                        justify-content: center;
                    }

                    .button_appointment {
                        border: 1px solid $beige-title;
                        border-radius: 0;
                        color: $beige-title;
                    }

                    .button_appointment:hover {
                        color: #000000;
                        background-color: $beige-text;
                        transition: all 0.7s;
                    }

                    .button_text {
                        width: 25vw;
                        color: #585858;
                        font-size: 0.7em;
                        text-align: center;
                        padding-top: 3vh;

                        .text_contnet {
                            padding: 0;
                            margin: 0;


                            .confidentiality {
                                color: rgba(242, 200, 190, 0.6);
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer__container {
    background-color: $beige-title;
    padding: 3vh 5vw 3vh 5vw;

    .footer_menu {
        font-family: $font-family-montserrat;
        color: #000000;
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;

        .footer_nav {
            display: flex;
            flex-direction: row;
            gap: 2vw;
        }

        .icon_button {
            padding: 0;
            margin: 0;

            .icon_social {
                width: 2vw;
            }
        }
    }
}