@import "./fonts";
@import "./vars";

.home_page {
    background: url(../images/mainpage_image.png);
    background-size: cover;
    min-height: 100vh;
    padding: 10vh 4vw 0 4vw;

    .header_container {
        .header_navbar {
            background-color: transparent;

            .header_logo {
                font-family: $font-family-macherie;
                color: $beige;
                font-size: 2rem;
            }

            .header_menu {
                font-family: $font-family-montserrat;
                color: $black;
                font-size: 1.2rem;

                .header_nav {
                    display: flex;
                }
            }
        }
    }

    .home_page__content {
        margin-top: 20vh;

        .home_page__title {
            font-family: $font-family-macherie;
            color: $beige;
            font-size: 6.5rem;
            width: 60vw;
        }

        .home_page__text {
            font-family: $font-family-montserrat;
            color: $black;
            font-size: 1.5rem;
            width: 20vw;
            margin-top: 18vh;
            margin-bottom: 0;
            padding-bottom: 85vh;
        }
    }
}

.about_me__page {
    background-color: #000000;

    .block2_container {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .title-block-2 {
            font-family: $font-family-macherie;
            color: $beige-title;
            font-size: 5rem;
            padding: 5vh 10vw 10vh 0;
        }

        .block-2__text-block {
            align-items: center;

            .list-group__block2 {
                border: solid 1px #F2C8BE;
                color: $beige-text;
                font-family: $font-family-montserrat;
                font-size: 1.3rem;
                margin-right: 7vw;
                padding: 3vh 3vw;

                .list-item {
                    padding: 1.5vh 0;
                }
            }
        }
    }
}